@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Lilita+One&display=swap');
:root{
    margin:0;
    padding:0;
    height:100%;
    font-family: 'Lilita One', cursive;
    font-size:16px;
    --darkgray : #e9eaef;
    --shadow : 0px 3px 10px black;
}
body{
    height: 100%;
    margin:0;
}

/*****Main Content****/
.container{
    display:grid;
    grid-template-columns: 1.5fr 5fr;
    grid-template-rows: 1fr 4fr;
    height: 100%;
}

/* .container>div{
    border:10px solid #6366f1;
} */

.header{
    grid-column: 2/-1;
}
.sidebar{
    grid-row:1/3;
}
.content{
    grid-column: 2/-1;
}

/*****Header****/

    /****TopBar*****/
.account-info{
    font-size:1.4rem;
}
.account-info > img[alt = "pfp"]{
    height: auto;
    width:2.5rem;
    border-radius:50%;
}
.account-info > svg{
    height:auto;
    width:1.5rem;
}
.account-info > svg:hover{
    cursor:pointer;
}
.topbar{
    box-sizing:border-box;
    padding: 20px 40px 10px 40px;
    grid-column: 1/-1;
    display:grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
form{
    -webkit-box-sizing: border-box;
    box-sizing:border-box;
    justify-content: space-around;
}
form > input{
    border-radius:10px;
    padding:5px;
    border:none;
    background-color: var(--darkgray);
    width:75%;
}
form > input:focus{
    border-radius:10px;
    outline:none;
    border:3px solid #6366f1;
    background-color: var(--darkgray)
}

form > button[type = 'submit']{
    position:relative;
    top:3px;
    left:3px;
    padding:0;
    background-color: transparent;
    border:none;
    width:30px;

}
button > svg { 
    width:15px;
}
button > svg:hover { 
    cursor: pointer;
}

.account-info{
    display:flex;
    gap:2rem;
    justify-content: flex-end;
    align-items: center;
}

/****Bottom Bar****/

img[alt = 'bigpfp']{
    width:4.5rem;
    border-radius:50%;
}
.mainheader{
    padding: 10px 40px 20px 40px;
    display:grid;
    grid-template-columns: 2fr 1fr;
    /* align-items: center;
    justify-items: center; */
    align-items: center;
}

.mainheader > div:first-child{
    display:flex;
    align-items: center;
    gap:20px;
    font-weight: bold;
}

.profile > div > .are-text{
    font-size:2rem;
}
.profile > div > .ideas{
    font-size:1rem;
    font-weight:normal;
}
.create-buttons{
    height:100%;
    display: flex;
    align-items: center;
    gap:10px;
}

.create-buttons > button{
    height:60%;
    width:33%;
    border:2px solid transparent;
    border-radius:10px;
    background-color:deepskyblue;
    color:rgb(255, 255, 255);
}
.create-buttons > button:hover{
    border: 2px solid black;
    cursor: pointer;
}





/****Main Content*****/

.content{ 
    font-size:2rem;
    padding:20px 10px;
    display:grid;
    grid-template-rows: .3fr 4fr;
    background-color: var(--darkgray);
}
.content > div:first-child{
    align-content: center;
    display:grid;
    grid-template-columns: 4fr 1fr;
}
/*Remove Later*/
/* .content>*{
    border:5px dotted red;
} */

.content > div:last-child{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap:20px;
}

.projects{
    grid-row:1/3;
    display:grid;
    grid-template-columns:repeat(2,minmax(200px,1fr));
    gap:20px;
}

.projects > div, .content-items > div:last-child > div , .content-items > div:nth-child(2){
    font-size:1.3rem;
    -webkit-box-sizing: border-box;
    border-radius:10px;
    box-sizing:border-box;
    background-color: white;
    box-shadow:var(--shadow);
}
.projects > div{
    border-left:10px solid blue;
    padding:4px 8px;
}
.content-items > div:last-child >div , .content-items > div:nth-child(2){
    padding:10px;
}

.project-container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:75%;
    
}
.content-items > div:last-child > div{
    margin-top:10px;
    height:85%;
}



/*Sidebar*/

.sidebar{
    background-color: rgb(10, 181, 238);
    padding-top:15px;
    /* display:grid;
    grid-template-rows: 1fr 3fr 1fr; */
    display:flex;
    flex-direction: column;
    gap:30px;
}

.sidebar > .sidebar-header>svg {
    width:25%;
}
.sidebar-header{
    display:flex;
    align-items: center;
    gap:20px;
    font-size:3rem;
}

ul{
    margin:0;
    padding-left:30px;
}

li{
    font-size:1.5rem;
    margin:20px 0px;
    display:flex;
    align-items: center;
    gap:10px;
    list-style-type: none;   
}
li > svg{
    width:10%;
}

li:hover{
    text-decoration: underline;
    color:blue;
    cursor: pointer;
}



/*Design the Project Descriptions a bit*/

.description{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top:10px;
    font-size:1rem;
    line-height: 20px;
}
.proj-modification{
    display: flex;
    justify-content: flex-end;
    gap:15px;
    
}
.proj-modification > a{
    width:10%;
    display:flex;
    justify-content: center;
}
.proj-modification >  a > svg{
    width:80%;
}
